
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
}
/* form {
    border: 3px solid #f1f1f1
} */
.LoginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/694740.jpg');
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input[type=text], input[type=password],input[type=date],input[type=radio]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  
}
  
  .login-btn{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .cancel-btn{
    background-color: #e03333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  .newUser-signin p{
    font-size: 12px;
    color: blue;
    text-decoration-line: underline;
  }
  
  