
.AllbooksPage{
height: 100vh;
}
.add-new{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
.render-books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.books-card{
    width: 203px;
}
.adding-new-btn{
    display: flex;
    justify-content: center
}
